html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: "A P-OTF Jun ProN",sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a,a:visited {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #999;
}