---
import { Image } from "astro:assets";
import logo from "../assets/Logo.png";
import { companyName } from "../const";
---

<style lang="scss">
  @use "../styles/vars";
  $textGrey: #d9d9d9;
  footer {
    padding: 40px 0;
  }

  .contact_wrap {
    background-color: vars.$mipColor;
    color: vars.$textWhite;
    padding: 16px 120px;
    height: fit-content;
    > div {
      border-left: vars.$textWhite 3px solid;
      padding-left: 32px;
    }

    .contact_text {
      margin-bottom: 16px;
      h2 {
        font-size: 2.4rem;
        margin-bottom: 16px;
      }

      p {
        font-size: 1.6rem;
      }
    }

    a {
      display: block;
      padding: 8px 16px;
      width: fit-content;
      border-radius: 40px;
      border: 3px solid #fefefe;
      color: vars.$textWhite;
    }
  }

  .site_map {
    > ul {
      padding: 0;
      margin: {
        top: 40px;
        bottom: 20px;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 160px;
      font-size: 1.6rem;

      li h3 {
        padding: 12px 0px 12px 16px;
        border-left: 2px solid vars.$mipColor;
        font-weight: normal;

        a {
          color: vars.$mipColor;
        }
      }

      ul li a {
        color: $textGrey;
      }
    }

    .profile,
    .business {
      ul {
        padding: 10px 16px;
        display: flex;
        gap: 10px;
        flex-direction: column;
      }
    }
  }

  .logo {
    padding: 0 120px;
  }
</style>

<footer>
  <div class="contact_wrap">
    <div>
      <div class="contact_text">
        <h2>お問い合わせ</h2>
        <p>ミップへは下記よりお気軽にお問い合わせください。</p>
      </div>
      <a href="/contact/">お問い合わせはこちら</a>
    </div>
  </div>
  <div class="site_map">
    <ul>
      <li class="top"><h3><a href="/">トップページ</a></h3></li>
      <li class="profile">
        <h3><a href="/about/">会社案内</a></h3>
        <ul>
          <li><a href="">経営理念</a></li>
          <li><a href="">会社概要</a></li>
          <li><a href="">アクセスマップ</a></li>
          <li><a href="">会社沿革</a></li>
          <li><a href="">会社案内</a></li>
        </ul>
      </li>
      <li class="business">
        <h3><a href="/business/">事業内容</a></h3>
        <ul>
          <li><a href="">事業内容</a></li>
          <li><a href="">事例紹介</a></li>
          <li><a href="">取引先</a></li>
          <li><a href="">依頼の進め方</a></li>
        </ul>
      </li>
      <li class="contact"><h3><a href="/contact/">お問い合わせ</a></h3></li>
    </ul>
  </div>
  <div class="logo">
    <Image src={logo} alt={companyName} />
  </div>
</footer>
