---
import { Image } from "astro:assets";
import logo from "../assets/Logo.png";
import { companyName } from "../const";

---

<style lang="scss">
@use"../styles/vars";
  header {
    display: flex;
    width: calc(100% - 80px);
    padding: 16px 40px;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 20px;

      li {
        list-style: none;
        
      }
      .contact{
        background: vars.$mipColor;
        a{
          color: vars.$textWhite;
        }
      }
      a {
        padding: 4px 8px;
        color: vars.$mipColor;
      }
    }
  }
</style>

<header>
  <h1><Image src={logo} alt={companyName} /></h1>
  <div>
    <ul>
      <li><a href="">会社案内</a></li>
      <li><a href="">事業内容</a></li>
      <li><a href="">Q&A</a></li>
      <li><a href="">採用情報</a></li>
      <li class="contact"><a href="">お問い合わせ</a></li>
    </ul>
  </div>
</header>
