---
import { Image } from "astro:assets";
import logo from "../assets/Logo.png";
import { companyName } from "../const";
---

<style lang="scss">
  @use "../styles/vars";
  header {
    display: flex;
    width: calc(100% - 80px);
    padding: 2px 40px;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 16px;
      li {
        list-style: none;
      }
      .contact {
        background: vars.$mipColor;
        padding: 10px;
        border-radius: 18px;
        text-decoration: none;
        a {
          color: vars.$textWhite;
        }
      }
      a {
        padding: 4px 8px;
        color: vars.$mipColor;
        background-image: linear-gradient(transparent 95%, #075aa3 95%);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size 0.3s ease;
        &:hover {
          background-size: 100% 100%;
        }
      }
    }
  }
</style>

<header>
  <h1><a href="/"><Image src={logo} alt={companyName} /></a></h1>
  <div>
    <ul>
      <li><a href="/">会社案内</a></li>
      <li><a href="/business/">事業内容</a></li>
      <li><a href="/Q&A/">Q&A</a></li>
      <li><a href="">採用情報</a></li>
      <li class="contact"><a href="">お問い合わせ</a></li>
    </ul>
  </div>
</header>
